.dashboard {
  padding: 30px;
}

.dashboard-cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.card {
  background: var(--card);

  padding: 25px;

  border-radius: 10px;

  border: 1px solid #ccc;
}

.card p {
  font-size: 30px;

  font-weight: bold;
}
